<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
    <h1>Welcome to that game. You know the one I mean.</h1>

    {% if game_in_progress %}
    </p>It looks like you're already part of {{ game_in_progress }}</p>
    {% endif %}

    <form action="/" method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
    <input type="submit" value="Join a game" />
</form>
</div>
</body>
</html>