Django==1.8.1
DjangoRestless==0.0.9
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.7.0
PyYAML==3.11
RBTools==0.4.1
argparse==1.3.0
boto==2.36.0
defusedxml==0.4.1
django-admin-sortable2==0.5.0
django-appconf==1.0.1
django-debug-toolbar==1.3.0
django-jinja==1.0.4
django-localflavor==1.1
django-overextends==0.3.2
django-sirtrevor==0.2.4
django-tinymce==1.5.3
eg==0.1.0
flake8==2.4.0
gnureadline==6.3.3
ipython==3.0.0
markdown2==2.3.0
mccabe==0.3
oauthlib==0.7.2
pbr==0.10.3
pep8==1.5.7
psycopg2==2.5.3
pyflakes==0.8.1
pylibmc==1.4.1
python-gnupg==0.3.7
python-logstash==0.4.2
pytz==2014.10
requests==2.4.3
requests-oauthlib==0.4.1
six==1.7.3
sphinx-me==0.3
sqlparse==0.1.14
stevedore==1.1.0
tweepy==3.1.0
vboxapi==1.0
virtualenv==1.11.4
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
vulture==0.6
wsgiref==0.1.2
