<!DOCTYPE HTML>
<html>
    <title> {% block title %} This is totally not that game. {% endblock title %}</title>
    <head>
        {% block stylsheets %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            {% if not show_form %}
                {% if refresh_num_secs %}
                <meta http-equiv="refresh" content="{{refresh_num_secs}};url=">
                {% else %}
                <meta http-equiv="refresh" content="1;url=">
                {% endif %}
            {% endif %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
            Hello!
        {% endblock content%}

        <div class="container">
            
            <p>Game content and rules licensed from "<a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>", Creative Commons BY-NC-SA 2.0 license.</p>
        
        <!--  for people who don't know about force refresh (F5 in most browsers) -->
        <a class="btn btn-primary btn-large" href="">Manually refresh this page</a>
        </div>
    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
</html>