<!DOCTYPE HTML>
<html>
    <title> {% block title %} This is totally not that game. {% endblock title %}</title>
    <head>
        {% block stylsheets %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            {% if not show_form %}
            <meta http-equiv="refresh" content="1;url=">
            {% endif %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
            Hello!
        {% endblock content%}

        <div class="container">
            
            <p>Game content and rules licensed from "<a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>", Creative Commons BY-NC-SA 2.0 license.</p>
        </div>
    </body>
</html>