{% extends "base.html" %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top fixed">
    <div class="navbar-inner">
        <div class="container">
            <p class="brand">
                {% if filled_in_question %}
                    {{filled_in_question|safe}}
                {% else %}
                    {{black_card|safe}}
                {% endif %}
            <a class="btn" href="">Refresh</a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <!-- <div class="btn btn-inverse">
    <p class="text_left">
        {% if filled_in_question %}
            {{filled_in_question|safe}}
        {% else %}
            {{black_card|safe}}
        {% endif %}
    </p>
    </div> -->


    <div id="submission-area"></div>

    {% if show_form %}
        <form action="{{ action }}" method="post">
            {% csrf_token %}
            {% for field_err1, field_err2  in form.errors.items %}
            <p class="text-error"><strong>{{field_err2}}</strong></p>
            {% endfor %}
            {% for field in form %}
            <div class="field">
                {% if is_card_czar %}
                    Select the winner:
                {% else %}
                    {{field.label}}:
                {% endif %}
                {{field|safe}}
            </div>
            </br>
            {% endfor %}
        <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    {% endif %}

    {% if game.game_state == 'selection' %}
        <h3>Submitted cards</h3>
        {% comment %}
            <!--  TODO make me pretty (and then the same for white_cards_text_list) -->
            <!--  TODO haiku card could be prettier (possibly requires commas adding in replace_blanks) -->
        {% endcomment %}
        {% for _, tmp_text in game.gamedata.filled_in_texts %}
            <div class="btn btn-inverse {{ is_card_czar|yesno:"draggable,nondraggable" }}">
            {{tmp_text|safe}}
            </div>
        {% endfor %}
        </br>
    {% endif %}

    <p>
        {% comment %}
            <!-- NOTE There are some model/template magic string value dependencies here :-( -->
        {% endcomment %}
        {% if game.game_state == 'submission' %}
            Waiting for players to submit white cards, {{game.gamedata.submissions|length}} out of {{game.gamedata.players|length|add:"-1"}} players have submitted cards.
            {% comment %}
                <!--  TODO dump card count, how many players are we waiting for? -->
            {% endcomment %}
        {% elif game.game_state == 'selection' %}
            Waiting for card czar, <img src="{{card_czar_avatar}}" alt="Card czar avatar"> {{card_czar_name}} to pick a winner.
        {% endif %}
    </p>
    
    <p>
        <img src="{{card_czar_avatar}}" alt="Card czar avatar"> {{card_czar_name}} is the card czar, all hail {{card_czar_name}}
        {% if game.gamedata.prev_filled_in_question %}
            for the classic;
            <div class="btn btn-inverse">
                {{game.gamedata.prev_filled_in_question|safe}}
            </div>
        {% endif %}
    </p>
    
    {% if not show_form %}
        {% if player_name %}
        <h3>Your cards</h3>
        <ul>
        {% for tmp_text in white_cards_text_list %}
            <li class="btn draggable">{{tmp_text|safe}}</li>
            </br>
        {% endfor %}
        </ul>
        {% endif %}
    {% endif %}

    <p>Game ({{game.id}}): {{game.name}}.</p>
    
    <p>Round {{game.gamedata.round}}.</p>

    <p>
    {% if player_name %}
    You are {{player_name}}. <img src="{{player_avatar}}" alt="Player avatar">
    {% else %}
    You are an observer. <a class="btn" href="join">Join this game</a>
    {% endif %}
    </p>

    {% include "stats.html" %}
    
    {% comment %}
    <!--  TODO previous winning cards (filled in) -->
    {% endcomment %}

    <!--  for people who don't know about force refresh (F5 in most browsers) -->
    <a class="btn" href="">Manually refresh this page</a>
    {% if player_name %}
    <a class="btn btn-danger pull-right" href="exit">Exit game</a>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
    {% if not show_form and use_pusher %}
    <script type="text/javascript">
        var pusher = new Pusher('{{ pusher_key }}');
        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function(data) {
            location.reload(true);
        });
    </script>
    {% endif %}
{% endblock %}
