{% extends "main.html" %}

{% block content %}
<div class="container">
    <h1>Who are you?</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Submit and join game" />
    </form>
    <br>
    <br>
    <p>
    If you have a <a href="https://gravatar.com/">Gravatar</a> account, entering in an email address will use your Gravatar image in the game.
    </p>
    {% comment %}
        <!-- Or if you have a registered account login. TODO login link/form. -->
    {% endcomment %}

</div>
{% endblock %}
