<!DOCTYPE HTML>
<html>
    <title> {% block title %} This is totally not that game. {% endblock %}</title>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            {% if not show_form %}
                {% if refresh_num_secs %}
                <meta http-equiv="refresh" content="{{refresh_num_secs}};url=">
                {% else %}
                <meta http-equiv="refresh" content="1;url=">
                {% endif %}
            {% endif %}
        {% endblock %}
    </head>

    <body>
        {% block account %}
            {% load socialaccount %}
            <div class="container">
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Log Out
                {% comment %}
                    {{ user.username }}
                {% endcomment %}
                </a>
            {% else %}
                <a href="{% provider_login_url 'facebook' method='oauth2' next='/'%}">Login with Facebook</a>
            {% endif %}
            </div>
        {% endblock %}
        {% block content %}
            Hello!
        {% endblock %}

        <div class="container">
            
            <p>Game content and rules licensed from "<a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>", Creative Commons BY-NC-SA 2.0 license.</p>
        
        </div>
        {% comment %}
            <!-- add white space to make button above easier to "see" -->
        {% endcomment %}
        <br/>
    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="http://js.pusher.com/2.0/pusher.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
    {% block scripts %}
    {% endblock %}
</html>