{% extends "base.html" %}

{% block title %} This is totally not that game. {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
    Hello!
{% endblock %}

{% block footer %}
<div class="container">
    <a href="{% url 'submit-card' %}">Submit your own cards!</a>
    <p>This Is Not That Game created by <a href="http://philipjohnjames.com">Philip James</a>, Chris Clark, <a href="http://mralex.org/">Alex Roberts</a> and <a href="http://immaculateobsession.com">Immaculate Obsession</a>.
    <p>Game content and rules licensed from "<a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>", Creative Commons BY-NC-SA 2.0 license.</p>

</div>
{% endblock %}
{% comment %}
    <!-- add white space to make button above easier to "see" -->
{% endcomment %}
<br/>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://js.pusher.com/2.0/pusher.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>


