{% extends "base.html" %}

{% block content %}
<div class="container">
    <p>This is not that card game. You know the one we mean.</p>

    <p> You are in Game: {{ game_name }} </p>

    <p>You are {{ player_name }}. <img src="{{ player_avatar }}" alt="Player avatar"></p>


    <div class="btn btn-inverse card">
    <p class="text_left">{{ black_card|safe }}</p>
    </div>
    {% if is_card_czar %}
    <p>congrats! you are the card czar!</p>
    {% endif %}

    <p>{{ filled_in_question|safe}} </p>

    {% if show_form %}
    <form action="{{ action }}" method="post">
    	{% csrf_token %}
    	{% for field in form %}
            {{ field | safe }}
        {% endfor %}
    <input type="submit" value="Submit" />
    </form>
    {% endif %}

    {% if last_round_winner %}
    <p>Last round winner was: <img src="{{ last_round_winner_avatar }}" alt="Player avatar"> {{ last_round_winner }}</p>
    {% endif %}
    
    <h4>stats</h4>
    <!--
        TODO move into a stats/winners url (also use a table)
    -->

    {% for player, player_details in players.items %}
      <img src="{{ player_details.player_avatar }}" alt="Player avatar"> {{ player }} {{ player_details.wins }} </br>
    {% endfor %}

</div>
{% endblock %}