<h3>Current standings <span class="text-muted">({{game.name}}, round {{game.gamedata.round}})</span></h3>
<table class="table table-condensed">
    <tr>
        <th>Player</th>
        <th>Wins</th>
    </tr>
    
    {% for player, player_details in game.gamedata.players.items %}
    {% if player == player_name %}
    <tr class="active">
    {% else %}
    <tr>
    {% endif %}
        <td>
            {% comment %}
            <!--  TODO  css for player name/card div/container. Also sort order (on wins then playername) needs to be added -->
            {% endcomment %}
            <img src="{{ player_details.player_avatar }}" alt="Player avatar" class="img-rounded"><span class="label label-default">{{ player }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ player_details.wins }}</span>
        </td>
    </tr>
    {% endfor %}
</table>
