.card {
    width: 150px;
    height: 150px;
}

.box {
    background-color: #eee;
    border-radius: 15px;
    padding: 20px;
}

.field > ul > li {
    background-color: #eee;
    border-radius: 15px;
    list-style-type: none;
    padding: 5px;
    margin-top: 5px;
}

.field {
    padding-bottom: 15px;
}

.field-alt-color > ul > li {
    background-color: lightgrey
}

.errorlist {
    background-color: #eee;
    color: red;
    border-radius: 15px;
    padding: 20px;
}

.refresh {
    float:right;
}

.fixed {
    position: fixed;
}

body { 
    padding-top: 20px;
}

.row-padded {
    margin: 10px 0;
}

.inline-info {
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 979px){
    .navbar .brand {
        padding-left: 25px;
        padding-right: 25px;
    }
}

